<link rel="stylesheet" href="{{ site.baseurl }}public/css/cv.css">

<div style="text-align: center">
<h1>{{ site.raised }}</h1>
{{ site.data.experience.last.position }} <br/>
{{ site.data.experience.last.department }} <br/>
{{ site.data.experience.last.institution }}
</div>
<br/>
<table class="contact">
<tr><td>{{ site.office }}</td><td>{{ site.email }}</td></tr>
<tr><td>{{ site.address }}</td><td>{{ site.website }}</td></tr>
<tr><td>{{ site.phone }}</td><td>{{ site.phone }}</td></tr>
</table>

### Education
<table class="cv">
{% for degree in site.data.education reversed %}
<tr>
<td>{{ degree.institution }}</td>
<td>{{ degree.department}}</td>
<td>{{ degree.degree }}</td>
<td>{{ degree.year }}</td>
</tr>
{% endfor %}
</table>

### Experience
<ul>
{% for position in site.data.experience reversed %}
<li><b>{{ position.position }}</b>, {{ position.department}}, {{ position.institution }}, {{ position.start_date }} - {{ position.end_date }}{% if position.note %} {{ position.note }} {% endif %}</li>
{% endfor %}
</ul>

### Grands and Funding
<ul>
{% for grant in site.data.grants %}
<li><b>{{ grant.agency }}</b>, "{{ grant.title }}," PI: {{ grant.PI }},
{% if grant.CoPI %}
Co-PI: {{ grant.CoPI }},
{% endif %}
{{ grant.amount }}.
</li>
{% endfor %}
</ul>

### Publications
{% if page.layout == "plain" %}
#### Journal Articles
{% include return_publication_list.html variable="type" value="journal"%}

#### Conference Papers
{% include return_publication_list.html variable="type" value="conference"%}

#### Other
{% include return_publication_list.html variable="type" value="other"%}

{% else %}
See [publications](/publications/).
{% endif %}

### Advising
#### PhD Students
<ul>
{% for student in site.data.advising %}
{% if student.level == "PhD" %}
<li><b>{{ student.name }}</b>,
{% if student.coadvisor %}
(Co-advised with {{student.coadvisor}}),
{% endif %}
{{ student.start_date }} - {{ student.end_date }}
</li>
{% endif %}
{% endfor %}
</ul>

#### Undergraduate Students
<ul>
{% for student in site.data.advising %}
{% if student.level == "undergraduate" %}
<li><b>{{ student.name }}</b>,
{% if student.coadvisor %}
(Co-advised with {{student.coadvisor}}),
{% endif %}
{% if student.title %}
<i>{{ student.title }}</i>,
{% endif %}
{{ student.start_date }} - {{ student.end_date }}
</li>
{% endif %}
{% endfor %}
</ul>
