
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@cmccomb"/>
<meta name="twitter:title" content="Chris McComb, Ph.D."/>
<meta name="twitter:description"
      content="Researcher and educator interested in sociotechnical systems, machine learning for engineering design, and human-AI teaming"/>
<meta name="twitter:image" content="https://cmccomb.com/assets/images/headshot_optimized_square.jpg"/>
<meta name="twitter:image:alt" content="A headshot of Christopher McComb"/>
