<!DOCTYPE html>
<html lang="en">
<head>

    <!--  Title for the page  -->
    <title>{{ site.title }}</title>

    <!--  Load meta information  -->
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0' name='viewport'/>

    <!--  Load style sheets  -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" rel="stylesheet">
    <link href="assets/css/default_style.css" rel="stylesheet">
    <link href="assets/css/home_style.css" rel="stylesheet">

    <!--  Load additional scripts and libraries  -->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c5e7391f02.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body class="bg-dark d-flex flex-column h-100">

<div class="container-fluid blur unselectable p-0" id="graph-container">
    <svg></svg>
    <div class="tooltip"></div>
    <div class="colorbar-legend" role="img" aria-label="Color legend for publication years"></div>
    <script src="assets/js/graph_layout.js"></script>
</div>

<div class="row h-100 justify-content-center align-items-center " id="profile">
    <div class="card px-0">
        <!--        <button id="exit" type="button" class="btn-close" aria-label="Close"></button>-->
        <img alt="A headshot of {{ site.author }}" class="card-img-top"
             src="{{ site.headshot }}"/>
        <div class="card-body">
            <h5 class="card-title text-center">{{ site.author }}</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center"> {{ site.affiliation }} </h6>
            <p class="card-text text-center">{{ content | markdownify | remove: '<p>' | remove: '</p>' }}</p>

            <div aria-label="Basic example" class="btn-group d-flex" role="group">
                <a aria-label="Email" class="btn btn-outline-dark" href="mailto:{{ site.email }}"
                   style="border-bottom-left-radius: 0"><i class="fa fa-envelope"></i></a>
                <a aria-label="LinkedIn" class="btn btn-outline-dark rounded-0"
                   href="https://www.linkedin.com/in/{{ site.linkedin }}"><i
                        class="fa fa-linkedin"></i></a>
                <a aria-label="GitHub" class="btn btn-outline-dark rounded-0"
                   href="https://github.com/{{ site.github }}"><i
                        class="fa fa-github"></i></a>
                <a aria-label="Google Scholar" class="btn btn-outline-dark"
                   href="https://scholar.google.com/citations?user={{ site.google_scholar }}"
                   style="border-bottom-right-radius: 0"><i
                        class="fa fa-graduation-cap"></i></a>
            </div>
            <button class="btn btn-outline-dark w-100 rounded-0 rounded-bottom border-top-0" id="exit"
                    style="font-size: 0.9em;">
                <i class="fas fa-vector-square"></i>&nbsp;&nbsp;Explore Publications
            </button>
        </div>
    </div>
</div>

<footer class="footer mt-auto py-3" id="footer" style="z-index:-100;">
    <div class="container text-center">
        <span class="text-muted">&copy; <script>document.write(new Date().getFullYear())</script> {{ site.author | remove: ', Ph.D.' }}</span>
    </div>
</footer>
<script src="assets/js/interface.js"></script>

</body>
</html>
